<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>会员管理 > 用户管理</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
           <form action="/gm/user/list/1" method="post" class="form-inline">
	          <div class="box-header">
	            <div class="input-group">
	            <@shiro.hasPermission name="addMyUser">
		            <a class="btn btn-primary dialog" href="javascript:;" data-url="/gm/user/add" data-title="创建" data-width="850" data-height="550"><i class="fa fa-plus"></i> 创建</a>
	            </@shiro.hasPermission>
	            </div>
		        <@shiro.hasPermission name="editMyUser">
	          	 <div class="input-group">
			            <a class="btn btn-primary" delete-batch-url="/gm/user/deleteBatch" ><i class="fa fa-edit"></i> 封号</a>
		         </div>
		        </@shiro.hasPermission>
		        <@shiro.hasPermission name="editMyUser">
	          	 <div class="input-group">
			            <a class="btn btn-primary" delete-batch-url="/gm/user/deleteBatch" ><i class="fa fa-edit"></i> 解封</a>
		         </div>
		        </@shiro.hasPermission>
		        <@shiro.hasPermission name="deleteMyUser">
	          	 <div class="input-group">
			            <a class="btn btn-danger" delete-batch-url="/gm/user/deleteBatch" ><i class="fa fa-remove"></i> 批量删除选中</a>
		         </div>
		        </@shiro.hasPermission>
		        
	            <div class="input-group">
	               <input type="text" name="search" value="${search!}" class="form-control" placeholder="Search">
	               <div class="input-group-btn">
	                 <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
	                 <a href="/gm/user/list/1" class="btn btn-default"><i class="fa fa-refresh"></i></a>
	               </div>
	            </div>
	            <div class="input-group pull-right">
                 <button type="button" class="btn btn-primary btn-flat" onclick="exportTo('用户数据');"><i class="fa fa-file-excel-o"></i> 导出</button>
            </div>
	          </div><!-- /.box-header -->
           </form>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th  width="100px"><input name="userState" type="checkbox" class="minimal checkbox-toolbar"> 行号</th>
                <th>账号</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>用户类型</th>
                <th>原始注册积分</th>
                <th>当前注册积分</th>
                <th>中心积分</th>
                <th>任务积分</th>
                <th>交易积分</th>
                <th>任务密钥</th>
                <th>推荐人账号</th>
                <th>推荐人姓名</th>
                <th>推荐人手机号</th>
                <th>开通时间</th>
                <th>赠送任务密钥数量</th>
                <th>申请任务次数</th>
                <th>状态</th>
                <th width="120px">操作</th>
              </tr>
              <#list pageData.getRecords() as user>
              	  <tr>
	                <td>
	                   <label>
	                	<input type="checkbox" value="${user.id}" class="minimal checkbox-item">
	                	${((pageData.current-1)*pageData.size +user_index+1)!}
	                	</label>
	                </td>
	                <td>${(user.account)!}</td>
	                <td>${(user.username)!'--'}</td>
	                <td>${(user.telephone)!'--'}</td>
	                <td>${(user.jfold)!'--'}</td>
	                <td>${(user.jfold)!}</td>
	                <td>${(user.jfzhuce)!}</td>
	                <td>${(user.jfcenter)!}</td>
	                <td>${(user.jftask)!}</td>
	                <td>${(user.jfbusiness)!}</td>
	                <td>${(user.task_token)!}</td>
	                <td>${(user.pid)!}</td>
	                <td>${(user.pid)!}</td>
	                <td>${(user.pid)!}</td>
	                <td>${(user.create_date?string('yyyy/MM/dd HH:mm:ss'))!}</td>
	                <td>${(user.status)!}</td>
	                <td>${(user.usedtoken)!}</td>
	                <td>${(user.status)!}</td>
	                <td>
	                	<@shiro.hasPermission name="editMyUser">
	                	  <a class="btn btn-primary btn-xs dialog" href="javascript:;" data-url="/gm/user/edit/${(user.id)!}" data-title="编辑用户" data-width="850" data-height="550">编辑</a>
	                	</@shiro.hasPermission>
	                	<@shiro.hasPermission name="deleteMyUser">
	                	<a class="btn btn-danger btn-xs"
	                	 data-tiggle="ajax"
	                	 data-submit-url="/gm/user/delete?id=${(user.id)!}"
	                	 data-confirm="您确定要删除该条记录吗?">删除</a>
	                	 </@shiro.hasPermission>
	                </td>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer row">
            <div class="col-md-6">
         	  <#include "/common/paginateBar.html" />
	  		  <@paginate pageData=pageData actionUrl="/gm/user/list/" urlParas="?search=${search!}&daterange=${daterange!}"  />
            </div>
            <div class="col-md-6 pull-left">
	             <#include "/common/paginate.html" />
	  			 <@paginate currentPage=pageData.getCurrent() totalPage=pageData.getPages() actionUrl="/gm/user/list/" urlParas="?search=${search!}&pageSize=${pageSize!}"  />
            </div>
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>