<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcc.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zcc.entity.User">
		<id column="id" property="id" />
		<result column="number" property="number" />
		<result column="name" property="name" />
		<result column="auto" property="auto" />
		<result column="createdate" property="createdate" />
		<result column="lastupdate" property="lastupdate" />
		<result column="remark" property="remark" />
	</resultMap>

</mapper>
